@font-face {
  font-family: 'neuton';
  src: url("../fonts/neuton-regular.eot");
  src: url("../fonts/neuton-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/neuton-regular.woff2") format("woff2"), url("../fonts/neuton-regular.woff") format("woff"), url("../fonts/neuton-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'neuton';
  src: url("../fonts/neuton-italic.eot");
  src: url("../fonts/neuton-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/neuton-italic.woff2") format("woff2"), url("../fonts/neuton-italic.woff") format("woff"), url("../fonts/neuton-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'neuton';
  src: url("../fonts/neuton-bold.eot");
  src: url("../fonts/neuton-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/neuton-bold.woff2") format("woff2"), url("../fonts/neuton-bold.woff") format("woff"), url("../fonts/neuton-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Abel';
  src: url("../fonts/abel-regular.eot");
  src: url("../fonts/abel-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/abel-regular.woff2") format("woff2"), url("../fonts/abel-regular.woff") format("woff"), url("../fonts/abel-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3,
h4,
p,
ol,
ul,
figure {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

a {
  text-decoration: none; }

input {
  background: none;
  border: 0;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal; }

button,
select {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

:focus {
  outline: 0; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

:root {
  --main-color: #0c7c59;
  --secondary-color: #58a4b0;
  --border-color: #e8e8e8;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --text-color: #2b303a;
  --bg-color: #edfbff;
  --highlight1-color: #d64933; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  min-width: 320px; }

body {
  background-color: #edfbff;
  background-color: var(--bg-color, #edfbff);
  color: #2b303a;
  color: var(--text-color, #2b303a);
  font: 16px/1 sans-serif;
  font-family: "Neuton", "Times New Roman", serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0; }

h1 {
  font-size: 1.602em;
  line-height: 1.5;
  font-family: "Abel", "Arial Narrow", sans-serif;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 48em) {
    h1 {
      font-size: 2.002em;
      line-height: 1.5; } }

h2 {
  font-size: 1.424em;
  line-height: 1.5;
  font-family: "Abel", "Arial Narrow", sans-serif;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 48em) {
    h2 {
      font-size: 1.78em;
      line-height: 1.5; } }

h3 {
  font-size: 1.266em;
  line-height: 1.5;
  font-family: "Abel", "Arial Narrow", sans-serif;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 48em) {
    h3 {
      font-size: 1.582em;
      line-height: 1.5; } }

h4 {
  font-size: 1.125em;
  line-height: 1.5;
  font-family: "Abel", "Arial Narrow", sans-serif;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 48em) {
    h4 {
      font-size: 1.406em;
      line-height: 1.5; } }

h5 {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Abel", "Arial Narrow", sans-serif;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 48em) {
    h5 {
      font-size: 1.25em;
      line-height: 1.5; } }

small {
  font-size: 0.889em;
  line-height: 1.5; }
  @media screen and (min-width: 48em) {
    small {
      font-size: 1.111em;
      line-height: 1.5; } }

main ul,
main ol,
main p {
  font-size: 1em;
  line-height: 1.5; }
  @media screen and (min-width: 48em) {
    main ul,
    main ol,
    main p {
      font-size: 1.25em;
      line-height: 1.5; } }

main img {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em; }

hr,
p,
ol,
ul {
  margin-bottom: 1em; }

.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086b3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.o-inner-wrapper {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem; }
  .o-inner-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.o-emoji {
  display: inline-block;
  vertical-align: middle; }

.o-svgicon {
  height: 2em;
  width: 2em; }
  @media all and (min-width: 24.375em) {
    .o-svgicon {
      height: 1em;
      width: 1em; } }
  .o-svgicon path {
    fill: #edfbff;
    fill: var(--bg-color, #edfbff); }

@media all and (min-width: 48em) {
  .l-col2-50 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
    .l-col2-50:last-child {
      float: right;
      margin-right: 0; } }

.c-chapters {
  counter-reset: li;
  margin-left: 2rem;
  padding: 0; }

.c-chapter {
  margin-bottom: 1rem;
  position: relative; }
  .c-chapter:first-child .c-chapter-link::before, .c-chapter:last-child .c-chapter-link::before {
    background: #edfbff;
    background: var(--bg-color, #edfbff);
    content: ''; }
  .c-chapter:nth-child(2) {
    counter-reset: li; }

.c-chapter-link {
  margin-left: 1rem; }
  .c-chapter-link:hover {
    border-bottom: 1px solid #d64933;
    border-bottom: 1px solid var(--highlight1-color, #d64933);
    color: #d64933;
    color: var(--highlight1-color, #d64933); }
  .c-chapter-link::before {
    background: #58a4b0;
    background: var(--secondary-color, #58a4b0);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #edfbff;
    color: var(--bg-color, #edfbff);
    content: counter(li);
    counter-increment: li;
    font-size: 0.7em;
    height: 2rem;
    left: -2rem;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    width: 2rem; }

.c-chapter-content a {
  color: #0c7c59;
  color: var(--main-color, #0c7c59);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .c-chapter-content a:hover {
    text-shadow: 0 0 0.35px #0c7c59, 0 0 0.35px #0c7c59;
    text-shadow: 0 0 0.35px var(--main-color, #0c7c59), 0 0 0.35px var(--main-color, #0c7c59); }

.c-chapter-content li {
  display: list-item;
  line-height: 1.5;
  margin-left: 1.5rem; }

.c-chapter-content figcaption {
  font-size: 0.889em;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 1em;
  text-align: center; }
  @media screen and (min-width: 48em) {
    .c-chapter-content figcaption {
      font-size: 1.111em;
      line-height: 1.5; } }

.c-chapter-content figure img {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0; }

.c-site-footer {
  background: #58a4b0;
  background: var(--secondary-color, #58a4b0);
  color: #edfbff;
  color: var(--bg-color, #edfbff);
  padding: 1rem 0; }
  @media all and (min-width: 48em) {
    .c-site-footer {
      padding: 2rem 0 0; } }

.c-footer-link {
  border-bottom: 1px solid #edfbff;
  border-bottom: 1px solid var(--bg-color, #edfbff);
  color: #edfbff;
  color: var(--bg-color, #edfbff); }
  .c-footer-link:hover {
    border-bottom: 0;
    text-shadow: 0 0 0.35px #edfbff, 0 0 0.35px #edfbff;
    text-shadow: 0 0 0.35px var(--bg-color, #edfbff), 0 0 0.35px var(--bg-color, #edfbff); }

@media all and (min-width: 30em) {
  .u-float-left {
    float: left;
    margin-right: 1em; } }

@media all and (min-width: 30em) {
  .u-float-right {
    float: right;
    margin-left: 1em; } }

.u-clear::after {
  clear: both;
  content: '';
  display: table; }
