<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  <meta content="website" property="og:type">

  {% if page.is_post %}
    <link rel="stylesheet" href="{{ "/assets/css/posts.css" | prepend: site.baseurl }}">
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ page.content | strip_html | truncatewords:30}}" property="og:description">
    {% endif %}
  {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}

  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}

  <meta content="{{ "/assets/images/og-cover.png" | prepend: site.baseurl }}" property="og:image">
  <meta name="twitter:image" content="{{ "/assets/images/og-cover.png" | prepend: site.baseurl }}" />
  <meta name="twitter:card" content="summary">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/assets/favicons/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/assets/favicons/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "/assets/favicons/manifest.json" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/assets/favicons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ "/assets/favicons/favicon.ico" | prepend: site.baseurl }}">
  <meta name="msapplication-config" content="{{ "/assets/favicons/browserconfig.xml" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">
</head>
