// ====
// Base
// ====
h1 {
  font-size: 185%;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 150%;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 125%;
  margin-bottom: 0.5em;
}

main {
  ul,
  ol,
  p {
    margin-bottom: 1em;
  }

  img {
    @include centre;
    display: block;
    margin-bottom: 1em;
  }
}

hr {
  margin-bottom: 1em;
}

a {
  color: map-get($colors, main);
  color: color(main);
  transition: all 0.2s;

  &:hover {
    text-shadow: 0 0 0.35px map-get($colors, main), 0 0 0.35px map-get($colors, main);
    text-shadow: 0 0 0.35px color(main), 0 0 0.35px color(main);
  }
}
