// ====
// Base
// ====
h1 {
  @include responsive-text-size(mega);
  font-family: $header-font;
  margin-bottom: 0.5em;
}

h2 {
  @include responsive-text-size(kilo);
  font-family: $header-font;
  margin-bottom: 0.5em;
}

h3 {
  @include responsive-text-size(hecto);
  font-family: $header-font;
  margin-bottom: 0.5em;
}

h4 {
  @include responsive-text-size(deca);
  font-family: $header-font;
  margin-bottom: 0.5em;
}

h5 {
  @include responsive-text-size(base);
  font-family: $header-font;
  margin-bottom: 0.5em;
}

small {
  @include responsive-text-size(deci);
}

main {
  ul,
  ol,
  p {
    @include responsive-text-size(base);
  }

  img {
    @include centre;
    display: block;
    margin-bottom: 1em;
  }
}

hr,
p,
ol,
ul {
  margin-bottom: 1em;
}


