// ==========
// Components
// ==========
// Home page styles
.c-cover-img {
  border: 1px solid map-get($colors, txt);
  border: 1px solid color(txt);
}
.c-cta-wrapper {
  text-align: center;
}

.c-cta {
  @include responsive-text-size(base);
  background: map-get($colors, secondary);
  background: color(secondary);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  color: map-get($colors, bg);
  color: color(bg);
  display: inline-block;
  margin: 0 1em 1.5em;
  padding: 0.5em 1em;
}

.c-chapters {
  counter-reset: li;
  margin-left: 2rem;
  padding: 0;
}

.c-chapter {
  margin-bottom: 0.75em;
  position: relative;

  &:first-child,
  &:last-child {
    .c-chapter-link::before {
      background: map-get($colors, bg);
      background: color(bg);
      content: '';
    }
  }

  &:nth-child(2) {
    counter-reset: li;
  }
}

.c-chapter-link {
  margin-left: 1rem;

  &:hover {
    border-bottom: 1px solid map-get($colors, highlight1);
    border-bottom: 1px solid color(highlight1);
    color: map-get($colors, highlight1);
    color: color(highlight1);
  }

  &::before {
    background: map-get($colors, secondary);
    background: color(secondary);
    border-radius: 50%;
    color: map-get($colors, bg);
    color: color(bg);
    content: counter(li);
    counter-increment: li;
    font-size: 0.7em;
    height: 2rem;
    left: -2rem;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    width: 2rem;
  }
}

// Chapter styles
.c-chapter-number {
  color: map-get($colors, secondary);
  color: color(secondary);
}

.c-chapter-content {
  a {
    color: map-get($colors, main);
    color: color(main);
    transition: all 0.2s;

    &:hover {
      text-shadow: 0 0 0.35px map-get($colors, main), 0 0 0.35px map-get($colors, main);
      text-shadow: 0 0 0.35px color(main), 0 0 0.35px color(main);
    }
  }

  li {
    display: list-item;
    line-height: 1.5;
    margin-left: 1.5rem;
  }

  figcaption {
    @include responsive-text-size(deci);
    font-style: italic;
    margin-bottom: 1.5em;
    text-align: center;
  }

  figure {
    img {
      @include centre;
      display: block;
      margin-bottom: 0;
    }
  }
}

// Site footer styles
.c-site-footer {
  background: map-get($colors, secondary);
  background: color(secondary);
  color: map-get($colors, bg);
  color: color(bg);
  padding: 1rem 0;

  @include mappy-bp(medium) {
    padding: 2rem 0 0;
  }
}

.c-footer-link {
  border-bottom: 1px solid map-get($colors, bg);
  border-bottom: 1px solid color(bg);
  color: map-get($colors, bg);
  color: color(bg);

  &:hover {
    border-bottom: 0;
    text-shadow: 0 0 0.35px map-get($colors, bg), 0 0 0.35px map-get($colors, bg);
    text-shadow: 0 0 0.35px color(bg), 0 0 0.35px color(bg);
  }
}
