// ==========
// Components
// ==========
.c-chapters {
  counter-reset: li;
  margin-left: 2rem;
  padding: 0;
}

.c-chapter {
  position: relative;

  &::before {
    content: counter(li) '.';
    counter-increment: li;
    position: absolute;
    width: 2rem;
    text-align: right;
    left: -2.5rem;
  }
}
// Site footer styles
.c-site-footer {
  background: map-get($colors, secondary);
  background: color(secondary);
  color: map-get($colors, bg);
  color: color(bg);
  padding: 1rem 0;

  @include mappy-bp(medium) {
    padding: 2rem 0;
  }

  p a {
    border-bottom: 1px solid map-get($colors, bg);
    border-bottom: 1px solid color(bg);
    color: map-get($colors, bg);
    color: color(bg);

    &:hover {
      border-bottom: 0;
      text-shadow: 0 0 0.35px map-get($colors, bg), 0 0 0.35px map-get($colors, bg);
      text-shadow: 0 0 0.35px color(bg), 0 0 0.35px color(bg);
    }
  }
}
