// =======
// Objects
// =======
.o-inner-wrapper {
  @include centre;
  max-width: 38rem;
  padding-left: 1em;
  padding-right: 1em;
}

.o-emoji {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Segoe UI Emoji';
  font-size: 115%;
}

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative;
}

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  font-size: 75%;
  font-family: $base-font;
  position: absolute;
  display: block;
  line-height: 1.2;
  content: attr(aria-label);
  z-index: 1;
  bottom: 2.5em;
  left: 0;
  background: color(text);
  color: color(border);
  padding: 0.25em;
  border: 1px solid color(border);
  box-shadow: 2px 2px 4px color(text);
}

@media print {
  span[role=img][aria-label]::after {
    content: " (" attr(aria-label) ") ";
  }
}
