// =======
// Objects
// =======
.o-inner-wrapper {
  @include container(45rem);
  padding: 0 1rem;
}

.o-svgicon {
  height: 2rem;
  width: 2rem;

  @include mappy-bp(xsmall) {
    height: 1rem;
    width: 1rem;
  }

  path {
    fill: map-get($colors, bg);
    fill: color(bg);
  }
}

.l-col2-50 {
  @include mappy-bp(medium) {
    @include span(6 of 12);
    &:last-child {
      @include last;
    }
  }
}
