// =======
// Objects
// =======
.o-inner-wrapper {
  @include container(45em);
  padding-left: 1rem;
  padding-right: 1rem;
}

.o-emoji {
  display: inline-block;
  vertical-align: middle;
}

.o-svgicon {
  height: 2em;
  width: 2em;

  @include mappy-bp(xsmall) {
    height: 1em;
    width: 1em;
  }

  path {
    fill: map-get($colors, bg);
    fill: color(bg);
  }
}

.l-col2-50 {
  @include mappy-bp(medium) {
    @include span(6 of 12);
    &:last-child {
      @include last;
    }
  }
}
