// ========
// Settings
// ========
// Breakpoints
@import 'lib/mappy-bp';
$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1280px,
);

$textpoints: (
  small: 20em,
  large: 48em,
);

// Responsive typography
$min-width: 320;
$max-width: 960;
$min-font: 18;
$max-font: 22;

:root {
  font-size: #{$min-font}px;
}

@media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
  :root {
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$min-width}px) / ( #{$max-width} - #{$min-width})));
  }
}

@media (min-width: #{$max-width}px) {
  :root {
    font-size: #{$max-font}px;
  }
}

// Fonts
@charset 'utf-8';

@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('../fonts/oflgoudystm.eot');
  src: url('../fonts/oflgoudystm.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oflgoudystm.woff2') format('woff2'),
       url('../fonts/oflgoudystm.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('../fonts/oflgoudystm-italic.eot');
  src: url('../fonts/oflgoudystm-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oflgoudystm-italic.woff2') format('woff2'),
       url('../fonts/oflgoudystm-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Abel';
  src: url('../fonts/abel-regular.eot');
  src: url('../fonts/abel-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abel-regular.woff2') format('woff2'),
       url('../fonts/abel-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Base font stacks
$base-font: 'Sorts Mill Goudy', 'Georgia', serif;
$header-font: 'Abel', 'Arial Narrow', sans-serif;
$code-font: 'Courier New', monospace;

// Colours
$colors: (
  main: #0c7c59,
  secondary: #58a4b0,
  border: #e8e8e8,
  shadow: rgba(0, 0, 0, 0.3),
  text: #2b303a,
  bg: #edfbff,
  highlight1: #d64933,
);

// Z-index
$layers: (
);
