// ========
// Settings
// ========

// Susy settings
@import '../node_modules/susy/sass/susy';
$susy: (
  global-box-sizing: border-box,
);

// Breakpoints
@import 'lib/mappy-bp';
$breakpoints: (
  xsmall: 390px,
  small: 480px,
  medium: 768px,
  large: 1280px,
);

$textpoints: (
  small: 36.875em,
  large: 48em,
);

// Fonts
@charset 'utf-8';

@font-face {
  font-family: 'neuton';
  src: url('../fonts/neuton-regular.eot');
  src: url('../fonts/neuton-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/neuton-regular.woff2') format('woff2'),
       url('../fonts/neuton-regular.woff') format('woff'),
       url('../fonts/neuton-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'neuton';
  src: url('../fonts/neuton-italic.eot');
  src: url('../fonts/neuton-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/neuton-italic.woff2') format('woff2'),
       url('../fonts/neuton-italic.woff') format('woff'),
       url('../fonts/neuton-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'neuton';
  src: url('../fonts/neuton-bold.eot');
  src: url('../fonts/neuton-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/neuton-bold.woff2') format('woff2'),
       url('../fonts/neuton-bold.woff') format('woff'),
       url('../fonts/neuton-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: url('../fonts/abel-regular.eot');
  src: url('../fonts/abel-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abel-regular.woff2') format('woff2'),
       url('../fonts/abel-regular.woff') format('woff'),
       url('../fonts/abel-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Base font stacks
$base-font: 'Neuton', 'Times New Roman', serif;
$header-font: 'Abel', 'Arial Narrow', sans-serif;
$code-font: 'Courier New', monospace;

// Set typography sizes
$text-sizing: (
  deci: (
    small: (
      font-size: 1em,
      line-height: 1.5
    ),
    large: (
      font-size: 1.222em,
      line-height: 1.5
    )
  ),
  base: (
    small: (
      font-size: 1.125em,
      line-height: 1.5
    ),
    large: (
      font-size: 1.375em,
      line-height: 1.5
    )
  ),
  deca: (
    small: (
      font-size: 1.266em,
      line-height: 1.5
    ),
    large: (
      font-size: 1.547em,
      line-height: 1.5
    )
  ),
  hecto: (
    small: (
      font-size: 1.424em,
      line-height: 1.5
    ),
    large: (
      font-size: 1.74em,
      line-height: 1.5
    ),
  ),
  kilo: (
    small: (
      font-size: 1.602em,
      line-height: 1.5
    ),
    large: (
      font-size: 1.958em,
      line-height: 1.5
    ),
  ),
  mega: (
    small: (
      font-size: 1.802em,
      line-height: 1.5
    ),
    large: (
      font-size: 2.202em,
      line-height: 1.5
    ),
  ),
  giga: (
    small: (
      font-size: 2.027em,
      line-height: 1.5
    ),
    large: (
      font-size: 2.478em,
      line-height: 1.5
    ),
  )
);

// Colours
$colors: (
  main: #0c7c59,
  secondary: #58a4b0,
  border: #e8e8e8,
  shadow: rgba(0, 0, 0, 0.3),
  text: #2b303a,
  bg: #edfbff,
  highlight1: #d64933,
);

// Z-index
$layers: (
);
