// ==========
// SETTINGS - Global variables, config switches
// ==========
@import 'settings';
// ==========
// TOOLS - Default mixins and functions
// ==========
@import 'tools';
// ==========
// GENERIC - Ground-zero styles (Normalize.css, resets, box-sizing)
// ==========
@import 'generic';
// ==========
// BASE - Unclassed HTML elements (type selectors)
// ==========
@import 'base';
// ==========
// VENDOR LIBRARIES - External libraries and plugins
// ==========
@import 'lib/syntax-highlighting';
// ==========
// OBJECTS - Cosmetic-free design patterns
// ==========
@import 'objects';
// ==========
// LAYOUT - Styles related to layout and positioning
// ==========
.l-chapter-content {
  li {
    margin-left: 1.5rem;
  }

  figcaption {
    margin-bottom: 1.5em;
  }

  figure {
    img {
      @include centre;
      display: block;
      margin-bottom: 0;
    }
  }
}

.l-nav {
  @include cf;
  margin-bottom: 1.5em;
}

.l-next {
  float: right;
}
// ==========
// COMPONENTS - Designed components, chunks of UI
// ==========
@import 'components-footer';

.c-chapter-number {
  color: map-get($colors, secondary);
  color: color(secondary);
}

.c-chapter-content {
  li {
    display: list-item;
    line-height: 1.5;
  }

  figcaption {
    @include responsive-text-size(deci);
    font-style: italic;
    text-align: center;
  }
}

.c-nav {
  @include responsive-text-size(deci);
}
// ==========
// TRUMPS - Helpers and overrides
// ==========
@import 'trumps';
// ==========
// SHAME - For ad-hoc debugging or testing. Should be empty by default.
// ==========
@import 'shame';
